@import './variables';

body{
    margin: 0;
    font-family: $mainfont;

}
main{
    max-width: 1440px;
    margin: 0 auto;
}
a, link, li{
    text-decoration: none;
    list-style: none;
    color: black;
    font-size: 16px;
}
h1, h2{
    color: $violet;
    font-family: $titlefont;
}
img{
    width: 100%;
    height: auto;
    object-fit: cover;
}
h3{
    text-align: center;
    font-size: 30px;
    font-family: $titlefont;
    color: $violet;
}
.titre{
    background-color: $marron;
    padding: 50px;
    text-align: center;
}
.btn{
    width: fit-content;
    display: block;
    padding: 8px 12px;
    background-color: $marron;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    margin: auto;
    &:hover{
        background-color: $violet;
        transform: scale(1.1);
    }
}
.plus{
    color: $marron;
    &:hover{
        color: $violet;
    }
}



